<div class="mt-5 d-flex justify-content-center align-items-center">
  <div data-controller='hello'>

    <div class="text-center">
      <button class="btn btn-primary mb-3" data-action='click->hello#change'>OK</button>
    </div>
    <div data-target="hello.output">CHANGEMENT</div>
  </div>
</div>

<div class="mt-5 d-flex justify-content-center align-items-center">
  <div data-controller='hello'>

    <div class="text-center">
      <a data-action='hello#change' class="btn btn-warning">APPUIE SUR MOI</a>
      <div data-target='hello.output'>MENDY</div>
    </div>
  </div>
</div>


